<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>O</key>
      <integer>-55</integer>
      <key>T</key>
      <integer>-75</integer>
      <key>U</key>
      <integer>-70</integer>
      <key>V</key>
      <integer>-145</integer>
      <key>W</key>
      <integer>-140</integer>
      <key>Y</key>
      <integer>-100</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>quoteright</key>
      <integer>-100</integer>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>b</key>
      <integer>-10</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>n</key>
      <integer>-10</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>comma</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-20</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>h</key>
      <integer>-10</integer>
      <key>quoteright</key>
      <integer>-10</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-60</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>T</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-40</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>comma</key>
      <integer>-90</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>Y</key>
      <integer>-50</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-40</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>comma</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-10</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-130</integer>
      <key>i</key>
      <integer>-10</integer>
      <key>n</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-40</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-140</integer>
      <key>w</key>
      <integer>-40</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>O</key>
      <integer>-45</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>colon</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-110</integer>
      <key>hyphen</key>
      <integer>-110</integer>
      <key>n</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-30</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>v</key>
      <integer>-30</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>v</key>
      <integer>-10</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>quoteright</key>
      <integer>10</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>comma</key>
      <integer>-50</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>o</key>
      <integer>-30</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>comma</key>
      <integer>-70</integer>
      <key>n</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-70</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>30</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>colon</key>
      <integer>30</integer>
      <key>comma</key>
      <integer>-120</integer>
      <key>o</key>
      <integer>-10</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>comma</key>
      <integer>-120</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-31</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>o</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
